<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вычисление мощности ИБП</title>
    <link rel="stylesheet" href="static/styles/trash_style4.css">
</head>
<body>
    <header>
        <a href="/"><img src="static/img/Image2.png" alt="home"></a>
        <h1>Вычисление мощности ИБП</h1>
    </header>
    
    <div class="main-container">
        <div class="page-header">
            <h2 class="page-title">Составление заявки</h2>
            <button class="save-btn">Сохранить</button>
        </div>
        {{ range .trash.Components }}
        <div class="device-card">
            <button class="delete-btn">✕</button>
            
            <div class="device-image">
                <h3 class="device-name">{{.Title}}</h3>
                <img src="{{.Image}}" alt="Монитор">
            </div>
            
            <div class="device-info">
                <div class="input-group">
                    <span class="input-label">Мощность</span>
                    <input type="number" class="input-field">
                    <span class="unit">Вт</span>
                </div>
                
                <div class="input-group">
                    <span class="input-label">Коэффициент мощности</span>
                    <input type="number" step="0.01" min="0" max="1" class="input-field">
                </div>
                
                <div class="note">
                    <p>Коэффициент мощности производители указывают в инструкции к устройству. Если данная величина не указана в технической документации, можно воспользоваться средними значениями.</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>